// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}

.aside {
    min-height: 100vh !important;
    background: #e6e1e1 !important;
}

// .aside,
.list-group-item {
    background: rgba(0, 0, 0, 0) !important;
}

.list-group-item:hover {
    transition: 0.25s;
    background: #cfc8c8 !important;
}

input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.spinner {
    display: none;
    position: fixed;
    z-index: 10000000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-color: rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
}

.container-fluid.block .spinner {
    display: block !important;
}
